<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>预警邮件</title>
<body style="background-color: white">
<div style="width: 800px">
    <img src="https://upload-images.jianshu.io/upload_images/5617720-b0e063bdea12c505.jpg?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240"
         alt="Watch_Dogs-logo"/>
    <h1 style="color:black;text-align: center">Linux远程主机及进程状态监测系统 - 预警邮件</h1>
    <hr style="height: 5px;color: black;width: 90%;" color="black"/>
</div>

<div style="width: 800px">
    <p style="color:red;font-size: 20px">告警对象 > 主机 1.2.3.4</p>
    <p>告警触发条件 >>> cpu占用率 > 80%</p>
    <p>告警触发详情 >>> <br/>something ... happen at YYYY-MM-DD HH:mm:SS
    </p>
    <hr style="height: 2px;color: black;width: 95%;" color="black"/>
</div>

<p style="color: grey;font-style:italic">邮件由监控系统自动生成, 若不想继续接收可以在系统中取消预警或者拉黑发件地址<br/>
    内容生成于YYYY-MM-DD HH:mm:SS</p>
<footer>
    <p>&copy; 2019 <a href="https://github.com/h-j-13" target="_blank" title="侯捷">h-j-13</a>
    </p>
</footer>
</body>
</head>
</html>