<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>监控预警</title>
    <!--logo-->
    <link rel="shortcut icon" type="image/x-icon" href="../static/Watch_Dogs.jfif"/>
    <!-- Bootstrap Styles-->
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="../static/css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="../static/css/custom-styles.css" rel="stylesheet"/>
    <link href="../static/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- 引入 ECharts 文件 -->
    <script src="../static/js/echarts.min.js"></script>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- cssfx -->
    <link href="../static/css/cssfx.css" rel="stylesheet"/>
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-dashboard"></i> <strong>Watch_Dogs</strong></a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/user#user_info"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="/user#user_admin"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#" id="logout_btn"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="/"><i class="fa fa-dashboard"></i>总览</a>
                </li>
                <li>
                    <a href="/host"><i class="fa fa-desktop"></i>主机监控</a>
                </li>
                <li>
                    <a href="/process"><i class="fa fa-bar-chart-o"></i>进程监控</a>
                </li>
                <li>
                    <a href="/alert"><i class="fa fa-edit"></i>监控预警</a>
                </li>
                <li>
                    <a href="/user"><i class="fa fa-table"></i>用户管理</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <h1 class="page-header">监控预警
            <small>远程Linux主机进程监控告警设置</small>
        </h1>
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 id="alert_title"><span class="div_title">目前与您关联的主机及进程相关信息</span></h3>
                        </div>
                        <div class="panel-body">
                            <div id="host_alert_div" class="table-responsive">
                                <h4><span class="div_title">主机告警监控条件设置</span></h4>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>主机ID</th>
                                        <th>主机IP</th>
                                        <th>类型</th>
                                        <th>备注</th>
                                        <th>状态监测</th>
                                        <th>CPU% 大于</th>
                                        <th>CPU% 小于</th>
                                        <th>内存% 大于</th>
                                        <th>内存% 小于</th>
                                        <th>上传Kbps 大于</th>
                                        <th>上传Kbps 小于</th>
                                        <th>下载Kbps 大于</th>
                                        <th>上传Kbps 小于</th>
                                        <th>告警设置</th>
                                    </tr>
                                    </thead>
                                    <tbody id="host_alert_table">
                                    </tbody>
                                </table>
                            </div>
                            <div id="process_alert_div" class="table-responsive">
                                <h4><span class="div_title">进程告警监控条件设置</span></h4>
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>进程ID</th>
                                        <th>所在主机ID</th>
                                        <th>名称</th>
                                        <th>进程号</th>
                                        <th>状态监测</th>
                                        <th>CPU% 大于</th>
                                        <th>CPU% 小于</th>
                                        <th>内存% 大于</th>
                                        <th>内存% 小于</th>
                                        <th>上传Kbps 大于</th>
                                        <th>上传Kbps 小于</th>
                                        <th>下载Kbps 大于</th>
                                        <th>上传Kbps 小于</th>
                                        <th>日志关键词</th>
                                        <th>告警设置</th>
                                    </tr>
                                    </thead>
                                    <tbody id="process_alert_table">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div>
                            <p style="font-size: 17px;color: grey">&nbsp;&nbsp;&nbsp;&nbsp;注意:<br/>
                                <span style="font-size: 13px;color: grey">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.&nbsp;填写 "-1" 即代表不对此项进行检测<br/>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.&nbsp;进行告警中的日志检测关键词若需要设置多个,可以用";"分割,例如"A;B;C"<br/>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.&nbsp;告警检测每10分钟进行一次检测,若触发告警条件,则会向用户设定的邮箱发送告警邮件
                            </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <p>&copy; 2019 <a href="https://github.com/h-j-13" target="_blank" title="侯捷">h-j-13</a>
                </p>
            </footer>
        </div>
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>


<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="../static/js/jquery-1.10.2.js"></script>
<script src="../static/js/jquery.cookie.js"></script>
<!-- Metis Menu Js -->
<script src="../static/js/jquery.metisMenu.js"></script>
<!-- Bootstrap Js -->
<script src="../static/js/bootstrap.min.js"></script>

<!-- Custom Js -->
<script src="../static/js/morris/raphael-2.1.0.min.js"></script>
<script src="../static/js/morris/morris.js"></script>

<!--<script src="../static/js/custom-scripts.js"></script>-->

<!--页面逻辑-->
<!--<script src="../static/js/jquery-3.4.0.js"></script>-->
<script>
    // 初始化页面
    $(document).ready(function () {
        $.ajax({
            type: 'post',
            async: true,
            url: "/alert",
            data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                $("#host_alert_div").hide();
                $("#process_alert_div").hide();
                if (res["user_host_relation"].length === 0 && res["user_process_relation"].length === 0) { // 尚未关注主机/进程
                    $("#alert_title").text("抱歉, 您目前尚未关注监控任何主机及进程. 请稍后在访问此页面.")
                } else {
                    if (res["user_host_relation"].length) { // host_table
                        $("#host_alert_div").show();
                        for (let host_data of res["user_host_relation"]) {
                            let host_tr = $("<tr></tr>");
                            host_tr.append( // 基础信息
                                "<td>" + host_data["host_id"] + "</td>",
                                "<td>" + host_data["host_info"]["host"] + "</td>",
                                "<td>" + host_data["type"] + "</td>",
                                "<td>" + host_data["comment"] + "</td>",
                            );
                            if (host_data["host_alert_rule"]) {// 预警规则
                                host_tr.append(
                                    "<td><input placeholder=" + host_data["host_alert_rule"]["status_detect"] + " style=\"width:70px;\"/></td>",
                                    "<td><input placeholder=" + host_data["host_alert_rule"]["cpu_gt"] + " style=\"width:75px;\"/></td>",
                                    "<td><input placeholder=" + host_data["host_alert_rule"]["cpu_lt"] + " style=\"width:75px;\"/></td>",
                                    "<td><input placeholder=" + host_data["host_alert_rule"]["mem_gt"] + " style=\"width:75px;\"/></td>",
                                    "<td><input placeholder=" + host_data["host_alert_rule"]["mem_lt"] + " style=\"width:75px;\"/></td>",
                                    "<td><input placeholder=" + host_data["host_alert_rule"]["net_upload_kbps_gt"] + " style=\"width:100px;\"/></td>",
                                    "<td><input placeholder=" + host_data["host_alert_rule"]["net_upload_kbps_lt"] + " style=\"width:100px;\"/></td>",
                                    "<td><input placeholder=" + host_data["host_alert_rule"]["net_download_kbps_gt"] + " style=\"width:100px;\"/></td>",
                                    "<td><input placeholder=" + host_data["host_alert_rule"]["net_download_kbps_lt"] + " style=\"width:100px;\"/></td>",
                                )
                            } else { // 默认预警规则
                                host_tr.append(
                                    "<td><input placeholder=\"-1\" style=\"width:70px;\"/></td>",
                                    "<td><input placeholder=\"-1\" style=\"width:75px;\"/></td>",
                                    "<td><input placeholder=\"-1\" style=\"width:75px;\"/></td>",
                                    "<td><input placeholder=\"-1\" style=\"width:75px;\"/></td>",
                                    "<td><input placeholder=\"-1\" style=\"width:75px;\"/></td>",
                                    "<td><input placeholder=\"-1\" style=\"width:100px;\"/></td>",
                                    "<td><input placeholder=\"-1\" style=\"width:100px;\"/></td>",
                                    "<td><input placeholder=\"-1\" style=\"width:100px;\"/></td>",
                                    "<td><input placeholder=\"-1\" style=\"width:100px;\"/></td>",
                                )
                            }
                            host_tr.append("<td><a href=\"#\" class=\"btn btn-primary btn-sm\"\n onclick=\"update_host_alert_rule(this)\">更新</a></td>");
                            $("#host_alert_table").append(host_tr);
                        }
                    }
                    if (res["user_process_relation"].length) { // process_table
                        $("#process_alert_div").show();
                        for (let process_data of res["user_process_relation"]) {
                            let process_tr = $("<tr></tr>");
                            process_tr.append( // 基础信息
                                "<td>" + process_data["process_id"] + "</td>",
                                "<td>" + process_data["host_id"] + "</td>",
                                "<td>" + process_data["process_info"]["comm"] + "</td>",
                                "<td>" + process_data["process_info"]["pid"] + "</td>",
                            );
                            if (JSON.stringify(process_data["process_alert_rule"]) != "{}") {// 预警规则
                                process_tr.append(
                                    "<td><input placeholder=" + process_data["process_alert_rule"]["status_detect"] + " style=\"width:70px;\"/></td>",
                                    "<td><input placeholder=" + process_data["process_alert_rule"]["cpu_gt"] + " style=\"width:75px;\"/></td>",
                                    "<td><input placeholder=" + process_data["process_alert_rule"]["cpu_lt"] + " style=\"width:75px;\"/></td>",
                                    "<td><input placeholder=" + process_data["process_alert_rule"]["mem_gt"] + " style=\"width:75px;\"/></td>",
                                    "<td><input placeholder=" + process_data["process_alert_rule"]["mem_lt"] + " style=\"width:75px;\"/></td>",
                                    "<td><input placeholder=" + process_data["process_alert_rule"]["net_upload_kbps_gt"] + " style=\"width:100px;\"/></td>",
                                    "<td><input placeholder=" + process_data["process_alert_rule"]["net_upload_kbps_lt"] + " style=\"width:100px;\"/></td>",
                                    "<td><input placeholder=" + process_data["process_alert_rule"]["net_download_kbps_gt"] + " style=\"width:100px;\"/></td>",
                                    "<td><input placeholder=" + process_data["process_alert_rule"]["net_download_kbps_lt"] + " style=\"width:100px;\"/></td>",
                                    "<td><input placeholder=" + process_data["process_alert_rule"]["log_key_words"] + " style=\"width:100px;\"/></td>",
                                )
                            } else { // 默认预警规则
                                process_tr.append(
                                    "<td><input placeholder=\"-1\" style=\"width:70px;\"/></td>",
                                    "<td><input placeholder=\"-1\" style=\"width:75px;\"/></td>",
                                    "<td><input placeholder=\"-1\" style=\"width:75px;\"/></td>",
                                    "<td><input placeholder=\"-1\" style=\"width:75px;\"/></td>",
                                    "<td><input placeholder=\"-1\" style=\"width:75px;\"/></td>",
                                    "<td><input placeholder=\"-1\" style=\"width:100px;\"/></td>",
                                    "<td><input placeholder=\"-1\" style=\"width:100px;\"/></td>",
                                    "<td><input placeholder=\"-1\" style=\"width:100px;\"/></td>",
                                    "<td><input placeholder=\"-1\" style=\"width:100px;\"/></td>",
                                    "<td><input placeholder=\"\" style=\"width:100px;\"/></td>",
                                )
                            }
                            process_tr.append("<td><a href=\"#\" class=\"btn btn-primary btn-sm\"\n onclick=\"update_process_alert_rule(this)\">更新</a></td>");
                            $("#process_alert_table").append(process_tr);
                        }
                    }
                }
            },
            error: function (msg) {
                alert("请求超时,请检查后台服务器状态");
                console.log(msg);
            }
        });
    });

    // 获取需要更新的数值
    function get_vaule(input_element) {
        if (input_element.val() !== "") {
            return input_element.val()
        } else {
            return input_element.attr('placeholder');
        }
    }

    // 更新主机告警设置
    function update_host_alert_rule(btn) {
        // 构造请求数据
        let host_table_tr = $(btn).parent().parent();
        let request_json = {
            host_id: host_table_tr.children().eq(0).text(),
            process_id: "-1",
            status_detect: get_vaule(host_table_tr.children().eq(4).children().eq(0)),
            cpu_gt: get_vaule(host_table_tr.children().eq(5).children().eq(0)),
            cpu_lt: get_vaule(host_table_tr.children().eq(6).children().eq(0)),
            mem_gt: get_vaule(host_table_tr.children().eq(7).children().eq(0)),
            mem_lt: get_vaule(host_table_tr.children().eq(8).children().eq(0)),
            net_upload_kbps_gt: get_vaule(host_table_tr.children().eq(9).children().eq(0)),
            net_upload_kbps_lt: get_vaule(host_table_tr.children().eq(10).children().eq(0)),
            net_download_kbps_gt: get_vaule(host_table_tr.children().eq(11).children().eq(0)),
            net_download_kbps_lt: get_vaule(host_table_tr.children().eq(12).children().eq(0)),
            log_key_words: ""
        };
        $.ajax({
            type: 'put',
            async: true,
            url: "/alert",
            data: JSON.stringify(request_json),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                setTimeout('window.location.reload()', 500);
            },
            error: function (msg) {
                alert("请求超时,请检查后台服务器状态");
                console.log(msg);
            }
        })
    }

    // 更新进程告警设置
    function update_process_alert_rule(btn) {
        let process_table_tr = $(btn).parent().parent();
        let request_json = {
            host_id: process_table_tr.children().eq(1).text(),
            process_id: process_table_tr.children().eq(0).text(),
            status_detect: get_vaule(process_table_tr.children().eq(4).children().eq(0)),
            cpu_gt: get_vaule(process_table_tr.children().eq(5).children().eq(0)),
            cpu_lt: get_vaule(process_table_tr.children().eq(6).children().eq(0)),
            mem_gt: get_vaule(process_table_tr.children().eq(7).children().eq(0)),
            mem_lt: get_vaule(process_table_tr.children().eq(8).children().eq(0)),
            net_upload_kbps_gt: get_vaule(process_table_tr.children().eq(9).children().eq(0)),
            net_upload_kbps_lt: get_vaule(process_table_tr.children().eq(10).children().eq(0)),
            net_download_kbps_gt: get_vaule(process_table_tr.children().eq(11).children().eq(0)),
            net_download_kbps_lt: get_vaule(process_table_tr.children().eq(12).children().eq(0)),
            log_key_words: get_vaule(process_table_tr.children().eq(13).children().eq(0))
        };
        console.log(request_json);
        $.ajax({
            type: 'put',
            async: true,
            url: "/alert",
            data: JSON.stringify(request_json),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                setTimeout('window.location.reload()', 500);
            },
            error: function (msg) {
                alert("请求超时,请检查后台服务器状态");
                console.log(msg);
            }
        })
    }

    // 登出
    $("#logout_btn").click(function () {
        $.ajax({
            type: 'delete',
            async: true,
            url: "/login",
            data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                $(window).attr('location', "/login");
            },
            error: function (msg) {
                alert("请求超时,请检查后台服务器状态");
            }
        });
    });
</script>
</body>
</html>