<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>主机监控</title>
    <!--logo-->
    <link rel="shortcut icon" type="image/x-icon" href="../static/Watch_Dogs.jfif"/>
    <!-- Bootstrap Styles-->
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="../static/css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="../static/css/custom-styles.css" rel="stylesheet"/>
    <link href="../static/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- cssfx -->
    <link href="../static/css/cssfx.css" rel="stylesheet"/>
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-dashboard"></i> <strong>Watch_Dogs</strong></a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/user#user_info"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="/user#user_admin"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#" id="logout_btn"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="/"><i class="fa fa-dashboard"></i>总览</a>
                </li>
                <li>
                    <a href="/host"><i class="fa fa-desktop"></i><span class="div_title">主机监控</span></a>
                </li>
                <li>
                    <a href="/process"><i class="fa fa-bar-chart-o"></i>进程监控</a>
                </li>
                <li>
                    <a href="/alert"><i class="fa fa-edit"></i>监控预警</a>
                </li>
                <li>
                    <a href="/user"><i class="fa fa-table"></i>用户管理</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <h1 class="page-header">主机监控
            <small>远程Linux主机资源监控</small>
        </h1>
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12" id="host_div">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"
                                        aria-expanded="false" id="host_select_btn">1<span class="caret"></span></button>
                                <ul class="dropdown-menu" id="host_select_id">
                                </ul>
                            </div>
                            &nbsp;
                            <a href="#" class="btn btn-info" id="update_host_btn">更新主机信息</a>
                            &nbsp;
                            <a href="#" class="btn btn-danger" id="delete_host_btn">不再关注主机</a>

                        </div>

                        <div class="panel-body">
                            <div id="host_status" class="alert alert-success">
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4><span class="div_title">主机资源占用</span></h4>
                                        </div>
                                        <div class="panel-body">
                                            <ul class="nav nav-tabs">
                                                <li class="active"><a class="res_title" href="#CPU" data-toggle="tab">CPU</a>
                                                </li>
                                                <li class=""><a class="res_title" href="#Memory"
                                                                data-toggle="tab">内存</a>
                                                </li>
                                                <li class=""><a class="res_title" href="#Net" data-toggle="tab">网络</a>
                                                </li>
                                                <li class=""><a class="res_title" href="#Disk"
                                                                data-toggle="tab">磁盘</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane fade active in" id="CPU">
                                                    <div id="cpu_graph" style="width: 1000px;height:450px;"></div>
                                                    <ui id="cpu_info">CPU 硬件信息</ui>
                                                    <p>共<span id="cpu_cores_num">1</span>个核心</p>
                                                </div>
                                                <div class="tab-pane fade in" id="Memory">
                                                    <div id="mem_graph" style="width: 1000px;height:450px;"></div>
                                                    <p>总内存大小 : <span id="mem_max_size">1</span> MB</p>
                                                </div>
                                                <div class="tab-pane fade in" id="Net">
                                                    <div id="net_graph" style="width: 1000px;height:450px;"></div>
                                                    <p>默认网卡设备 : <span id="net_device">1</span></p>
                                                </div>
                                                <div class="tab-pane fade in" id="Disk">
                                                    <div id="io_graph" style="width: 1000px;height:450px;"></div>
                                                    <p>总磁盘空间 : <span id="disk_size">1</span> GB</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <span class="div_title">主机配置信息</span>
                                        </div>

                                        <div class="panel-body">
                                            <h4><span class="div_title">系统信息</span></h4>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>用户名</td>
                                                        <td id="user">user</td>
                                                    </tr>
                                                    <tr>
                                                        <td>IP地址（外网）</td>
                                                        <td id="ex_ip">ex_ip</td>
                                                    </tr>
                                                    <tr>
                                                        <td>IP地址（内网）</td>
                                                        <td id="in_ip">in_ip</td>
                                                    </tr>
                                                    <tr>
                                                        <td>操作系统</td>
                                                        <td id="os">os</td>
                                                    </tr>
                                                    <tr>
                                                        <td>内核版本</td>
                                                        <td id="kernel">kernel</td>
                                                    </tr>
                                                    <tr>
                                                        <td>空闲率</td>
                                                        <td id="free_rate">free_rate</td>
                                                    </tr>
                                                    <tr>
                                                        <td>nr</td>
                                                        <td id="nr">nr</td>
                                                    </tr>
                                                    <tr>
                                                        <td>lavg_1/5/15</td>
                                                        <td id="lavg">lavg</td>
                                                    </tr>
                                                    <tr>
                                                        <td>运行时间</td>
                                                        <td id="uptime">uptime</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <hr/>
                                                <h4><span class="div_title">磁盘状态</span></h4>
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                        <tr>
                                                            <th>设备</th>
                                                            <th>文件系统</th>
                                                            <th>大小 (G)</th>
                                                            <th>已用 (G)</th>
                                                            <th>占用 %</th>
                                                            <th>挂载点</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="disk_info">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <p class="pull-right" style="margin-right:20px">&nbsp;&nbsp;监控信息生成于&nbsp;<span
                                        id="record_time">YYYY-MM-DD HH:MM:SS</span></p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="div_title">添加新的远程监控主机</span>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <span class="div_title">远程主机信息</span>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label for="host_ip">主机IP</label>
                                            <input id="host_ip" class="form-control" placeholder="请填写能够直接访问的地址">
                                            <br/>
                                            <label for="host_port">主机端口</label>
                                            <input id="host_port" class="form-control" placeholder="SSH协议端口 (默认为22) ">
                                            <br/>
                                            <label for="host_user">用户名</label>
                                            <input id="host_user" class="form-control"
                                                   placeholder="远程主机登陆用户名 (推荐root) ">
                                            <br/>
                                            <label for="host_password">密码</label>
                                            <input id="host_password" class="form-control" placeholder="远程主机登陆密码">
                                            <br/>
                                            <label for="host_comment">备注</label>
                                            <input id="host_comment" class="form-control" placeholder="取一个好记的备注(可忽略)">
                                            <br/>
                                            <label for="host_type">主机类型</label>
                                            <input id="host_type" class="form-control"
                                                   placeholder="远程主机类型(例如,阿里云主机..;可忽略)">
                                            <br/>
                                            <button id="add_host_btn" type="submit" class="btn btn-default"
                                                    data-toggle="modal" data-target="#myModal">添加
                                            </button>
                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                                 aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true">&times;
                                                            </button>
                                                            <h4 class="modal-title" id="myModalLabel">添加主机提示</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>
                                                                添加主机中, 请注意右侧文本框中的提示信息以确定是否添加完成. <br/>
                                                            </p>
                                                            <p>
                                                                <span style="color: orange">注意 : 请勿在右侧文本提示完成前刷新页面 <br/><br/></span>
                                                                <span style="color: grey">流程 :<br/>
                                                                    1. 使用root用户登录,以保证进程关闭/重启功能的正常运作<br/>
                                                                    2. 使用root权限执行如下命令即可完成部署 <br/>
                                                                    <strong style="color: darkgreen">curl http://10.245.146.202:8013/client/ClientSetup.sh | sh</strong><br/>
                                                                    3. 添加远程客户端后会在默认文件夹下创建一个名为.Watch_Dogs-Client的监控系统目录, 自动设置为隐藏文件夹, 请勿删除<br/>
                                                                    4. 同时远程Linux主机上会多出一个名为Watch_Dogs-Client.py 的监控进程, 请勿关闭, 否则远程监控功能将失效<br/>
                                                                    5. 进程将占用8000端口, 请保证端口通畅<br/>
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default"
                                                                    data-dismiss="modal">我知道了
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        添加主机
                                    </div>
                                    <div class="panel-body">
                                        <p id="add_host_info">准备添加主机...</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer>
                    <p>&copy; 2019 <a href="https://github.com/h-j-13" target="_blank" title="侯捷">h-j-13</a>
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>
<!-- /. PAGE WRAPPER  -->
</body>

<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="../static/js/jquery-1.10.2.js"></script>
<script src="../static/js/jquery.cookie.js"></script>
<!-- Metis Menu Js -->
<script src="../static/js/jquery.metisMenu.js"></script>
<!-- Bootstrap Js -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Custom Js -->
<script src="../static/js/morris/raphael-2.1.0.min.js"></script>
<script src="../static/js/morris/morris.js"></script>
<!-- 引入 ECharts 文件 -->
<script src="../static/js/echarts.min.js"></script>
<!--页面逻辑-->
<script>
    // 当前选择的主机id
    let user_all_host_relation;
    let current_host_id = -1;

    // 初始化页面
    $(document).ready(function () {
        // 处理#后面的host_id
        let select_host_id = 0;
        if (window.location.hash) {
            select_host_id = parseInt(window.location.hash.split("#")[1]);
        }
        // 请求数据
        $.ajax({
            type: 'get',
            async: true,
            url: "/host/0",
            data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                $("#host_div").show();
                user_all_host_relation = res;
                if ("error" in user_all_host_relation) {
                    console.log(user_all_host_relation);
                    $("#host_div").hide();
                } else {
                    console.log(user_all_host_relation);
                    if (select_host_id) {// 选择了主机id
                        for (let host_relation of res["relation"]) {
                            if (host_relation["host_id"] === select_host_id) {
                                $("#host_select_btn").text(host_relation["select_str"]);
                                current_host_id = host_relation["host_id"];
                            }
                        }
                    } else {// 设置默认主机
                        $("#host_select_btn").text(res["relation"][0]["select_str"]);
                        current_host_id = res["relation"][0]["host_id"];
                    }
                    // 添加选择主机按钮
                    for (let host_relation of res["relation"])
                        $("#host_select_id").append("<li><a>" + host_relation["select_str"] + "</a></li>");
                    // 展示主机信息,如果#后面的host_id无效,则展示第一个主机
                    if (current_host_id === -1) {
                        $("#host_select_btn").text(res["relation"][0]["select_str"]);
                        current_host_id = res["relation"][0]["host_id"];
                    }
                    show_host_data(current_host_id);
                }
            },
            error: function (msg) {
                alert("请求超时,请检查后台服务器状态");
                console.log(msg);
            }
        });
    });

    // 初始化ECharts图表数据结构
    function init_echarts_graph_data(title) {
        return {
            title: {
                text: title
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: []
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: [] // 时间
            },
            yAxis: {
                type: 'value',
                max: 100,
                min: 0,
            },
            series: []
        };
    }

    // 展示选中主机数据
    function show_host_data(host_id) {
        location.replace("#" + current_host_id); // 修改url
        $("#update_host_btn").attr("href", "#" + current_host_id);
        // 获取主机数据
        $.ajax({
            type: 'get',
            async: true,
            url: "/host/" + host_id,
            data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                // 状态提示框
                if (res["host_info"]["status"] == "0") {
                    $("#host_status").removeClass();
                    $("#host_status").addClass("alert alert-danger");
                    $("#host_status").text("[警告] 当前主机状态存在问题!  请检查远程主机状态及监测进程状态");
                } else {
                    $("#host_status").removeClass();
                    $("#host_status").addClass("alert alert-success");
                    $("#host_status").text("[OK] 当前主机运行情况良好.");
                }

                // 右侧配置数据
                $("#user").text(res["host_info"]["user"]);
                $("#ex_ip").text(res["host_info"]["extranet_ip"]);
                $("#in_ip").text(res["host_info"]["intranet_ip"]);
                $("#os").text(res["host_info"]["system"]);
                $("#kernel").text(res["host_info"]["kernel"]);
                $("#free_rate").text(res["host_now_record"]["free_rate"]);
                $("#nr").text(res["host_now_record"]["nr"]);
                $("#lavg").text(res["host_now_record"]["lavg_1"] + "/" +
                    res["host_now_record"]["lavg_5"] + "/" +
                    res["host_now_record"]["lavg_15"]);
                $("#uptime").text(res["host_now_record"]["uptime"]);

                // 右侧磁盘信息
                let disk_info_tbody = $("#disk_info");
                disk_info_tbody.empty();
                if (res["host_info"]["disk_stat"].length !== 0) {
                    for (let disk_info of res["host_info"]["disk_stat"]) {
                        let disk_info_tr = $("<tr></tr>");
                        for (let info of disk_info) {
                            disk_info_tr.append(`<td>${info}</td>`);
                        }
                        disk_info_tbody.append(disk_info_tr);
                    }
                } else {
                    disk_info_tbody.append("<tr><td>目前暂无磁盘数据</td></tr>");
                }


                // 下方时间戳
                $("#record_time").text(res["record_time"]);

                // 左侧资源图表
                // CPU
                let cpu_table_option = init_echarts_graph_data("CPU占用率 %");
                let cpu_cores = res["host_now_record"]["CPUs"];
                if (cpu_cores.length === 1) { // 单核
                    cpu_table_option.legend.data.push("CPUs");
                    let cpu_data = {
                        name: 'CPUs',
                        type: 'line',
                        smooth: true,
                        data: [] // cpu占用率
                    };
                    cpu_table_option.series.push(cpu_data);
                    for (let hi of res["host_records"]) {
                        cpu_table_option.xAxis.data.unshift(hi["record_time"]); // X轴时间
                        cpu_table_option.series[0].data.unshift(hi["CPU"]); // Y轴CPU占用率
                    }
                } else {// 多核
                    cpu_table_option.legend.data.push("CPUs");
                    let cpu_data = {
                        name: 'CPUs',
                        type: 'line',
                        smooth: true,
                        data: [] // cpu占用率
                    };
                    cpu_table_option.series.push(cpu_data);
                    for (let cpu_name in cpu_cores) {
                        cpu_table_option.legend.data.push(cpu_name);
                        cpu_table_option.series.push(
                            {
                                name: cpu_name,
                                type: 'line',
                                smooth: true,
                                data: [] // cpu占用率
                            });
                    }
                    for (let hi of res["host_records"]) {
                        cpu_table_option.xAxis.data.unshift(hi["record_time"]); // X轴时间
                        cpu_table_option.series[0].data.unshift(hi["CPU"]); // Y轴CPU占用率
                        let i = 1;
                        for (let cpu_name in hi["CPUs"]) {
                            cpu_table_option.series[i].data.unshift(hi["CPUs"][cpu_name]); // Y轴CPU占用率
                            i += 1;
                        }
                    }
                }
                // 绘图
                echarts.init(document.getElementById('cpu_graph')).setOption(cpu_table_option, true);
                // 图标下方文字
                let cpu_info_ui = $("#cpu_info");
                // 清空所有子元素
                cpu_info_ui.empty();
                for (let cpu of res["host_info"]["CPU_info"])
                    cpu_info_ui.append(`<li>${cpu}</li>`);
                $("#cpu_cores_num").text(res["host_info"]["CPU_info"].length);

                // 内存
                let mem_table_option = init_echarts_graph_data("内存占用率 %");
                mem_table_option.legend.data.push("内存占用率");
                mem_table_option.series.push({
                    name: '内存占用率',
                    type: 'line',
                    smooth: true,
                    data: []
                });
                for (let hi of res["host_records"]) {
                    mem_table_option.xAxis.data.unshift(hi["record_time"]); // X轴时间
                    mem_table_option.series[0].data.unshift(hi["mem"]); // Y轴内存占用率
                }
                // 绘图
                echarts.init(document.getElementById('mem_graph')).setOption(mem_table_option, true);
                // 内存下方文字
                $("#mem_max_size").text(res["host_info"]["mem_M"]);

                // net
                let net_table_option = init_echarts_graph_data("主机网络使用情况 Kbps");
                net_table_option.yAxis = {type: 'value'};
                net_table_option.legend.data.push("上传速度");
                net_table_option.legend.data.push("下载速度");
                net_table_option.series.push({
                    name: '上传速度',
                    type: 'line',
                    smooth: true,
                    data: []
                });
                net_table_option.series.push({
                    name: '下载速度',
                    type: 'line',
                    smooth: true,
                    data: []
                });
                for (let hi of res["host_records"]) {
                    net_table_option.xAxis.data.unshift(hi["record_time"]);
                    net_table_option.series[0].data.unshift(hi["net_upload_kbps"]);
                    net_table_option.series[1].data.unshift(hi["net_download_kbps"]);
                }
                // 绘图
                echarts.init(document.getElementById('net_graph')).setOption(net_table_option, true);
                // 网络下方文字
                $("#net_device").text(res["host_info"]["default_net_device"]);

                // 磁盘
                let io_table_option = init_echarts_graph_data("主机磁盘读写 MB/s");
                io_table_option.yAxis = {type: 'value'};
                io_table_option.legend.data.push("读取速度");
                io_table_option.legend.data.push("写入速度");
                io_table_option.series.push({
                    name: '读取速度',
                    type: 'line',
                    smooth: true,
                    data: []
                });
                io_table_option.series.push({
                    name: '写入速度',
                    type: 'line',
                    smooth: true,
                    data: []
                });
                for (let hi of res["host_records"]) {
                    io_table_option.xAxis.data.unshift(hi["record_time"]);
                    io_table_option.series[0].data.unshift(hi["read_MBs"]);
                    io_table_option.series[1].data.unshift(hi["write_MBs"]);
                }
                // 绘图
                echarts.init(document.getElementById('io_graph')).setOption(io_table_option, true);
                // 磁盘下方文字
                $("#disk_size").text(res["host_info"]["disk_total_size"]);

            },
            error: function (msg) {
                alert("请求超时,请检查后台服务器状态");
            }
        });
    }

    // 选择主机id
    $("#host_select_id").click(function (event) {
        current_host_id = parseInt(event.target.innerHTML.split(" : ")[0].split("#")[1]);
        for (let host_relation of user_all_host_relation["relation"]) {
            if (current_host_id === host_relation["host_id"]) {// 修改选项文本
                $("#host_select_btn").text(host_relation["select_str"]);
                break;
            }
        }
        show_host_data(current_host_id);
    });

    // 添加主机
    $("#add_host_btn").click(function () {
        let request_data = {
            host_ip: $("#host_ip").val(),
            host_port: $("#host_port").val(),
            host_user: $("#host_user").val(),
            host_password: $("#host_password").val(),
            host_comment: $("#host_comment").val(),
            host_type: $("#host_type").val()
        };
        // 添加主机提示信息
        let add_host_log_text = $("#add_host_info");
        add_host_log_text.empty();
        if (request_data.host_ip !== "" && request_data.host_port !== "" &&
            request_data.host_user !== "" && request_data.host_password !== "") {
            console.log(request_data);
            add_host_log_text.append("向服务器发送添加主机请求, 请勿刷新页面");
            $.ajax({
                type: 'post',
                async: true,
                url: "/host",
                data: JSON.stringify(request_data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    for (let msg of res["result"]) {
                        console.log(res);
                        add_host_log_text.append("<br /> " + msg);
                    }

                },
                error: function (msg) {
                    alert("请求超时,请检查后台服务器状态");
                }
            });
        } else {
            add_host_log_text.append("<br />[错误] 请完整填写主机相关信息");
        }
    });

    // 更新主机信息
    $("#update_host_btn").click(function () {
        $.ajax({
            type: 'put',
            async: true,
            url: "/host/" + current_host_id,
            data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                if (res["status"]) {
                    show_host_data(current_host_id);
                } else {
                    alert("[错误] 远程客户端连接超时, 请登录远程主机检查监控进程是否存在")
                }
                console.log("222" + current_host_id);
            },
            error: function (msg) {
                alert("请求超时,请检查后台服务器状态");
                console.log(msg);
            }
        });
    });

    // 删除主机
    $("#delete_host_btn").click(function () {
        $.ajax({
            type: 'delete',
            async: true,
            url: "/host/" + current_host_id,
            data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                alert("删除主机成功, 即将刷新页面");
                setTimeout('window.location.reload()', 200);
            },
            error: function (msg) {
                alert("请求超时,请检查后台服务器状态");
                console.log(msg);
            }
        });
    });

    // 登出
    $("#logout_btn").click(function () {
        $.ajax({
            type: 'delete',
            async: true,
            url: "/login",
            data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                $(window).attr('location', "/login");
            },
            error: function (msg) {
                alert("请求超时,请检查后台服务器状态");
            }
        });
    });

</script>

</html>