<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Linux远程主机及进程状态监测系统</title>
    <!--logo-->
    <link rel="shortcut icon" type="image/x-icon" href="../static/Watch_Dogs.jfif"/>
    <!-- Bootstrap Styles-->
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="../static/css/font-awesome.css" rel="stylesheet"/>
    <!-- Morris Chart Styles-->
    <link href="../static/js/morris/morris-0.4.3.min.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="../static/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <!-- cssfx -->
    <link href="../static/css/cssfx.css" rel="stylesheet"/>
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-dashboard"></i> <strong>Watch_Dogs</strong></a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="/user#user_info"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="/user#user_admin"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#" id="logout_btn"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="/"><i class="fa fa-dashboard"></i>总览</a>
                </li>
                <li>
                    <a href="/host"><i class="fa fa-desktop"></i>主机监控</a>
                </li>
                <li>
                    <a href="/process"><i class="fa fa-bar-chart-o"></i>进程监控</a>
                </li>
                <li>
                    <a href="/alert"><i class="fa fa-edit"></i>监控预警</a>
                </li>
                <li>
                    <a href="/user"><i class="fa fa-table"></i>用户管理</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">
                        <span class="div_title">监控情况总览</span>
                        <small>远程Linux主机及进程监控情况</small>
                    </h1>
                </div>
            </div>
            <!--title-->
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-green green">
                        <div class="panel-left pull-left green">
                            <i class="fa fa-desktop fa-5x"></i>

                        </div>
                        <div class="panel-right pull-right">
                            <h3 id="host_num">0</h3>
                            <strong>监控主机数</strong>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-blue blue">
                        <div class="panel-left pull-left blue">
                            <i class="fa fa-bar-chart-o fa-5x"></i>
                        </div>

                        <div class="panel-right pull-right">
                            <h3 id="process_num">0</h3>
                            <strong>监控进程数</strong>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-red red">
                        <div class="panel-left pull-left red">
                            <i class="fa fa-desktop fa-5x"></i>

                        </div>
                        <div class="panel-right pull-right">
                            <h3 id="un_normal_host_num">0</h3>
                            <strong>问题主机数</strong>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="panel panel-primary text-center no-boder bg-color-brown brown">
                        <div class="panel-left pull-left brown">
                            <i class="fa fa-edit fa-5x"></i>

                        </div>
                        <div class="panel-right pull-right">
                            <h3 id="un_normal_process_num">0</h3>
                            <strong>问题进程数</strong>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="div_title">近期主机监控数据</span>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="host_table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>主机id</th>
                                        <th>备注</th>
                                        <th>内网ip</th>
                                        <th>外网ip</th>
                                        <th>CPU占用率 (%)</th>
                                        <th>内存占用率 (%)</th>
                                        <th>网络速度 (Kbps)</th>
                                        <th>IO读写 (MB/s)</th>
                                        <th>记录时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="div_title">近期进程监控数据</span>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table id="process_table" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>进程id</th>
                                        <th>主机id</th>
                                        <th>备注</th>
                                        <th>类型</th>
                                        <th>进程号</th>
                                        <th>状态</th>
                                        <th>线程数</th>
                                        <th>CPU (%)</th>
                                        <th>内存 (M)</th>
                                        <th>上传/下载 (Kbps)</th>
                                        <th>读取/写入 (MB/s)</th>
                                        <th>记录时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- /. ROW  -->
            <footer>
                <p>&copy; 2019 <a href="https://github.com/h-j-13" target="_blank" title="侯捷">h-j-13</a>
                </p>
            </footer>
            <!--sign-->
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="../static/js/jquery-1.10.2.js"></script>
<!-- Bootstrap Js -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- Metis Menu Js -->
<script src="../static/js/jquery.metisMenu.js"></script>
<!-- Morris Chart Js -->
<script src="../static/js/morris/raphael-2.1.0.min.js"></script>
<script src="../static/js/morris/morris.js"></script>
<script src="../static/js/easypiechart.js"></script>
<!--<script src="../static/js/easypiechart-data.js"></script>-->
<!-- Custom Js -->
<!--<script src="../static/js/custom-scripts.js"></script>-->
<script src="../static/js/dataTables/jquery.dataTables.js"></script>
<script src="../static/js/dataTables/dataTables.bootstrap.js"></script>
<!--带search及换行的table,太难看= =!-->
<!--$('#host_table').dataTable();-->
<!--$('#process_table').dataTable();-->
<!--页面逻辑-->
<script>
    // 加载页面
    $(document).ready(function () {
        $.ajax({
            type: 'get',
            async: true,
            url: "/index",
            data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                // num
                $("#host_num").text(res["host_num"]);
                $("#process_num").text(res["process_num"]);
                $("#un_normal_host_num").text(res["un_normal_host_num"]);
                $("#un_normal_process_num").text(res["un_normal_process_num"]);
                // host_table
                for (let host_record of res["recent_host_record"]) {
                    let host_record_tr = $("<tr onclick=\"transition2host(this)\"></tr>");
                    let host_id_td = "";
                    if (host_record["status"] === 1) {
                        host_id_td = `<td style="color: green"><strong>${host_record["host_id"]}</strong></td>`;
                    } else {
                        host_id_td = `<td style="color: red"><strong>${host_record["host_id"]}</strong></td>`;
                    }
                    let net_td = "";
                    if (host_record["net_upload_kbps"] < 0) {
                        net_td = `<td><span style="color: grey">暂无</span></td>`;
                    } else {
                        net_td = `<td>${host_record["net_upload_kbps"]}/${host_record["net_download_kbps"]}</td>`;
                    }
                    host_record_tr.append(
                        host_id_td,
                        `<td>${host_record["comment"]}</td>`,
                        `<td>${host_record["intranet_ip"]}</td>`,
                        `<td>${host_record["extranet_ip"]}</td>`,
                        `<td>${host_record["CPU"]} %</td>`,
                        `<td>${host_record["mem"]} %</td>`,
                        net_td,
                        `<td>${host_record["read_MBs"]}/${host_record["write_MBs"]}</td>`,
                        `<td>${host_record["update_time"]}</td>`
                    );
                    $("#host_table").append(host_record_tr);
                }
                // process_table
                for (let process_record of res["recent_process_record"]) {
                    let process_record_tr = $("<tr onclick=\"transition2process(this)\"></tr>");
                    let process_id_td = "";
                    if (process_record["state"] === "0") {
                        process_id_td = `<td style="color: orange"><strong>${process_record["process_id"]}</strong></td>`;
                    } else if (process_record["state"] === "X") {
                        process_id_td = `<td style="color: red"><strong>${process_record["process_id"]}</strong></td>`;
                    } else {
                        process_id_td = `<td style="color: green"><strong>${process_record["process_id"]}</strong></td>`;
                    }
                    let net_td = "";
                    if (process_record["net_upload_kbps"] < 0) {
                        net_td = `<td><span style="color: grey">暂无</span></td>`;
                    } else {
                        net_td = `<td>${process_record["net_upload_kbps"]}/${process_record["net_download_kbps"]}</td>`;
                    }
                    process_record_tr.append(
                        process_id_td,
                        `<td>${process_record["host_id"]}</td>`,
                        `<td>${process_record["comment"]}</td>`,
                        `<td>${process_record["type"]}</td>`,
                        `<td>${process_record["pid"]}</td>`,
                        `<td>${process_record["state"]}</td>`,
                        `<td>${process_record["thread_num"]}</td>`,
                        `<td>${process_record["cpu"]} %</td>`,
                        `<td>${process_record["mem"]} M</td>`,
                        net_td,
                        `<td>${process_record["read_MBs"]}/${process_record["write_MBs"]}</td>`,
                        `<td>${process_record["update_time"]}</td>`
                    );
                    $("#process_table").append(process_record_tr);
                }
                // console.log(res)
            },
            error: function (msg) {
                alert("请求超时,请检查后台服务器状态");
                console.log(msg);
            }

        });
    });

    // 跳转主机页
    function transition2host(e) {
        let host_id = $(e).children().eq(0).text();
        window.location.href = "host#" + host_id;
    }

    // 跳转进程页
    function transition2process(e) {
        let process_id = $(e).children().eq(0).text();
        window.location.href = "process#" + process_id;
    }

    // 登出
    $("#logout_btn").click(function () {
        $.ajax({
            type: 'delete',
            async: true,
            url: "/login",
            data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                $(window).attr('location', "/login");
            },
            error: function (msg) {
                alert("请求超时,请检查后台服务器状态");
                console.log(msg);
            }
        });
    });
</script>
</body>

</html>