<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>用户管理</title>
    <!--logo-->
    <link rel="shortcut icon" type="image/x-icon" href="../static/Watch_Dogs.jfif"/>
    <!-- Bootstrap Styles-->
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="../static/css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="../static/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-dashboard"></i> <strong>Watch_Dogs</strong></a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#user_info"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#user_admin"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#" id="logout_btn"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li>
                    <a href="/"><i class="fa fa-dashboard"></i>总览</a>
                </li>
                <li>
                    <a href="/host"><i class="fa fa-desktop"></i>主机监控</a>
                </li>
                <li>
                    <a href="/process"><i class="fa fa-bar-chart-o"></i>进程监控</a>
                </li>
                <li>
                    <a href="/alert"><i class="fa fa-edit"></i>监控预警</a>
                </li>
                <li>
                    <a href="/user"><i class="fa fa-table"></i>用户管理</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <a name="user_info"></a>
        <div id="page-inner">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="page-header">用户信息 &nbsp;&nbsp;<small>用户信息及账号管理</small>
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default" id="user_info">
                        <div class="panel-heading">
                            基本信息
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-8">
                                    <form role="form" onsubmit="false">
                                        <div class="form-group has-warning">
                                            <p class="help-block" style="font-size: 35px">Hello, <span id="user_name">Default User
                                                Name</span></p>
                                            <br/>
                                            <label for="new_password" class="control-label">密码</label>
                                            <input class="form-control" placeholder="更新你的密码 "
                                                   id="new_password">
                                            <br/>
                                            <label for="new_brief" class="control-label">简介</label>
                                            <input class="form-control" placeholder="更新个人简介, 方便大家更好地认识你"
                                                   id="new_brief">
                                            <br/>
                                            <label for="new_email" class="control-label">邮箱</label>
                                            <input class="form-control" placeholder="更新邮箱地址, 用于接收告警邮件(有可能在垃圾邮件里 = =!)"
                                                   id="new_email">
                                            <br/>
                                            <input id="hiddenText" type="text" style="display:none" />
                                            <button class="btn btn-default" type="button"
                                                    id="user_info_update_submit">更新信息
                                            </button>
                                            <p style="font-size:16px;color:green;display:none" id="user_update_msg">
                                                TEST : msg
                                            </p>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                    </div>
                    <br/>
                    <br/>

                    <a name="user_admin"></a>
                    <div class="panel panel-default" id="user_manage">
                        <div class="panel-heading">
                            用户管理
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>uid</th>
                                        <th>用户/账号</th>
                                        <th>简介</th>
                                        <th>身份</th>
                                        <th>登录密码</th>
                                        <th>关联邮箱</th>
                                        <th>主机数</th>
                                        <th>进程数</th>
                                        <th>权限</th>
                                        <th>锁定</th>
                                    </tr>
                                    </thead>
                                    <tbody id="admin_table">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
            </div>
            <footer>
                <p>&copy; 2019 <a href="https://github.com/h-j-13" target="_blank" title="侯捷">h-j-13</a>
                </p>
            </footer>
            <!--sign-->
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="../static/js/jquery-1.10.2.js"></script>
<script src="../static/js/jquery.cookie.js"></script>
<!-- Metis Menu Js -->
<script src="../static/js/jquery.metisMenu.js"></script>
<!-- Bootstrap Js -->
<script src="../static/js/bootstrap.min.js"></script>

<!--todo : 引用会出现异常?-->
<!--&lt;!&ndash; Custom Js &ndash;&gt;-->
<!--<script src="../static/js/custom-scripts.js"></script>-->

<!--页面逻辑-->
<!--<script src="../static/js/jquery-3.4.0.js"></script>-->
<script>
    // 加载页面
    $(document).ready(function () {
        $("#user_manage").hide();
        $("#user_name").text($.cookie("user"));
        let user_status = $.cookie("user_status");
        if (user_status == "10") {
            $("#user_manage").show();
            $.ajax({
                type: 'get',
                async: true,
                url: "/user/admin",
                data: "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (res) {
                    for (let user_info of res["res"]) {
                        let user_info_tr = $("<tr></tr>");
                        // 设置行样式
                        if (user_info[4] === "管理员")
                            user_info_tr.addClass("info");
                        else if (user_info[4] === "普通用户")
                            user_info_tr.addClass("success");
                        else
                            user_info_tr.addClass("warning");
                        let lock_btn = "";
                        if (user_info[4] === "被锁定")
                            lock_btn = "<td><a href=\"#\" class=\"btn btn-danger btn-sm\" onclick=\"lock_user(this)\">解锁</a></td>";
                        else
                            lock_btn = "<td><a href=\"#\" class=\"btn btn-danger btn-sm\" onclick=\"lock_user(this)\">锁定</a></td>";
                        let update_status = "";
                        if (user_info[4] === "管理员")
                            update_status = "<td><a href=\"#\" class=\"btn btn-info btn-sm\" onclick=\"update_user_status(this)\">降为普通</a></td>";
                        else
                            update_status = "<td><a href=\"#\" class=\"btn btn-info btn-sm\" onclick=\"update_user_status(this)\">升为管理</a></td>";
                        // 添加元素
                        user_info_tr.append(
                            "<td name='uid'>" + user_info[0] + "</td>",
                            "<td>" + user_info[1] + "</td>",
                            "<td>" + user_info[2] + "</td>",
                            "<td name='user_status'>" + user_info[4] + "</td>",
                            "<td>" + user_info[3] + "</td>",
                            "<td>" + user_info[5] + "</td>",
                            "<td>" + user_info[6] + "</td>",
                            "<td>" + user_info[7] + "</td>",
                            update_status,
                            lock_btn
                        );
                        $("#admin_table").append(user_info_tr);
                    }
                },
                error: function (msg) {
                    alert("请求超时,请检查后台服务器状态");
                    console.log(msg);
                }
            });
        }
    });

    // 登出
    $("#logout_btn").click(function () {
        $.ajax({
            type: 'delete',
            async: true,
            url: "/login",
            data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                $(window).attr('location', "/login");
            },
            error: function (msg) {
                alert("请求超时,请检查后台服务器状态");
                console.log(msg);
            }
        });
    });

    // 更新个人信息
    $("#user_info_update_submit").click(function () {
        // 获取需要更新的个人信息json
        function get_update_value() {
            let request_json = {
                update_uid: $.cookie("uid"),
                update_field: [],
                update_value: []
            };
            let new_password = $.trim($("#new_password").val());
            let new_brief = $.trim($("#new_brief").val());
            let new_email = $.trim($("#new_email").val());
            if (new_password !== "") {
                request_json["update_field"].push("password");
                request_json["update_value"].push(new_password);
            }
            if (new_brief !== "") {
                request_json["update_field"].push("brief");
                request_json["update_value"].push(new_brief);
            }
            if (new_email !== "") {
                request_json["update_field"].push("email");
                request_json["update_value"].push(new_email);
            }
            return request_json
        }

        $("#user_update_msg").stop();
        $("#user_update_msg").hide();
        $.ajax({
            type: 'put',
            async: true,
            url: "/user",
            data: JSON.stringify(get_update_value()),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                if (res["updated"].length) {
                    $("#user_update_msg").stop();
                    $("#user_update_msg").css("color", "green").text("成功更新了 " + res["updated"].join(", ") + " 信息").fadeIn(500).delay(1500).fadeOut("slow");
                    setTimeout('window.location.reload()', 2000);
                } else {
                    $("#user_update_msg").css("color", "red")
                        .text("错误 : 请填写需要更新的内容").fadeIn(500).delay(1500).fadeOut("slow");
                }
            },
            error: function (msg) {
                alert("请求超时,请检查后台服务器状态");
                console.log(msg);
            }
        });
    });

    // 锁定/解锁用户
    function lock_user(btn) {
        // 构造请求数据
        let status = $(btn).parent().siblings("[name='user_status']").text();
        let uid = $(btn).parent().siblings("[name='uid']").text();
        let request_json = {
            update_uid: uid,
            update_field: ["status"],
            update_value: []
        };
        if (status === "被锁定")
            request_json["update_value"].push("1");
        else
            request_json["update_value"].push("0");
        // 更新所选用户信息
        $.ajax({
            type: 'put',
            async: true,
            url: "/user",
            data: JSON.stringify(request_json),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                window.location.reload();
                console.log("成功更新了 " + res["updated"].join(", ") + " 信息");
            },
            error: function (msg) {
                alert("请求超时,请检查后台服务器状态");
                console.log(msg);
            }
        })
    }

    // 升降权限
    function update_user_status(btn) {
        // 构造请求数据
        let status = $(btn).parent().siblings("[name='user_status']").text();
        let uid = $(btn).parent().siblings("[name='uid']").text();
        let request_json = {
            update_uid: uid,
            update_field: ["status"],
            update_value: []
        };
        if (status === "管理员")
            request_json["update_value"].push("1");
        else
            request_json["update_value"].push("10");
        // 更新所选用户信息
        $.ajax({
            type: 'put',
            async: true,
            url: "/user",
            data: JSON.stringify(request_json),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                window.location.reload();
                console.log("成功更新了 " + res["updated"].join(", ") + " 信息");
            },
            error: function (msg) {
                alert("请求超时,请检查后台服务器状态");
                console.log(msg);
            }
        })
    }

</script>
</body>
</html>