<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>用户管理</title>
    <!--logo-->
    <link rel="shortcut icon" type="image/x-icon" href="../static/Watch_Dogs.jfif"/>
    <!-- Bootstrap Styles-->
    <link href="../static/css/bootstrap.css" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="../static/css/font-awesome.css" rel="stylesheet"/>
    <!-- Custom Styles-->
    <link href="../static/css/custom-styles.css" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-comments"></i> <strong>Watch_Dogs</strong></a>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#user_info"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li><a href="#user_admin"><i class="fa fa-gear fa-fw"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#" id="logout_btn"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a href="/"><i class="fa fa-dashboard"></i>总览</a>
                </li>
                <li>
                    <a href="ui-elements.html"><i class="fa fa-desktop"></i>主机管理</a>
                </li>
                <li>
                    <a href="chart.html"><i class="fa fa-bar-chart-o"></i>进程管理</a>
                </li>
                <li>
                    <a href="tab-panel.html"><i class="fa fa-edit"></i>日志监控</a>
                </li>
                <li>
                    <a href="/user"><i class="fa fa-table"></i>用户管理</a>
                </li>


            </ul>

        </div>

    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <a name="user_info"></a>
        <div id="page-inner">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="page-header">用户信息 &nbsp;&nbsp;<small>用户信息及账号管理</small>
                    </h1>
                </div>
            </div>
            <!-- /. ROW  -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default" id="user_info">
                        <div class="panel-heading">
                            基本信息
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-8">
                                    <form role="form">
                                        <div class="form-group has-warning">
                                            <p class="help-block" id="user_name">Default User Name</p>
                                            <br/>
                                            <label class="control-label">密码</label>
                                            <input class="form-control" placeholder="Your new password "
                                                   id="new_password">
                                            <br/>
                                            <label class="control-label">简介</label>
                                            <input class="form-control" placeholder="Your new brief introduction"
                                                   id="new_brief">
                                            <br/>
                                            <button class="btn btn-default"
                                                    id="user_info_update_submit">更新信息
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                    </div>
                    <br/>
                    <br/>

                    <a name="user_admin"></a>
                    <div class="panel panel-default" id="user_manage">
                        <div class="panel-heading">
                            用户管理
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>uid</th>
                                        <th>用户名</th>
                                        <th>简介</th>
                                        <th>状态</th>
                                        <th>密码</th>
                                        <th>更新</th>
                                        <th>锁定用户</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="success">
                                        <td>1</td>
                                        <td>houjie</td>
                                        <td>侯捷</td>
                                        <td>管理员</td>
                                        <td>19950705</td>
                                        <td><a href="#" class="btn btn-info btn-sm">更新用户信息</a></td>
                                        <td><a href="#" class="btn btn-danger btn-sm">锁定该用户</a></td>
                                    </tr>
                                    <tr class="info">
                                        <td>2</td>
                                        <td>houjie</td>
                                        <td>侯捷</td>
                                        <td>管理员</td>
                                        <td>19950705</td>
                                        <td><a href="#" class="btn btn-info btn-sm">更新用户信息</a></td>
                                        <td><a href="#" class="btn btn-danger btn-sm">锁定该用户</a></td>
                                    </tr>
                                    <tr class="warning">
                                        <td>3</td>
                                        <td>houjie3</td>
                                        <td>侯捷</td>
                                        <td>锁定</td>
                                        <td>19950705</td>
                                        <td><a href="#" class="btn btn-info btn-sm">更新用户信息</a></td>
                                        <td><a href="#" class="btn btn-danger btn-sm">解锁该用户</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-8 -->
            </div>
            <footer>
                <p>Copyright &copy; 2019.Company name All rights &nbsp;&nbsp;<a href="https://github.com/h-j-13"
                                                                                target="_blank" title="侯捷">h-j-13</a>
                </p>
            </footer>
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="../static/js/jquery-1.10.2.js"></script>
<script src="../static/js/jquery.cookie.js"></script>
<!-- Metis Menu Js -->
<script src="../static/js/jquery.metisMenu.js"></script>
<!-- Bootstrap Js -->
<script src="../static/js/bootstrap.min.js"></script>

<!--todo : 引用会出现异常?-->
<!--&lt;!&ndash; Custom Js &ndash;&gt;-->
<!--<script src="../static/js/custom-scripts.js"></script>-->

<!--页面逻辑-->
<!--<script src="../static/js/jquery-3.4.0.js"></script>-->
<script>
    // 加载页面
    $(document).ready(function () {
        $("#user_manage").hide();
        $("#user_name").text($.cookie("user"));
        let user_status = $.cookie("user_status");
        if (user_status == "10"){
            $("#user_manage").show();
            // todo : ajax获取页面元素
        }
    });

    // 登出
    $("#logout_btn").click(function () {
        $.ajax({
            type: 'delete',
            async: true,
            url: "/login",
            data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (res) {
                $(window).attr('location', "/login");
            },
            error: function (msg) {
                alert("请求超时,请检查后台服务器状态" + msg);
            }
        });
    });
</script>


</body>

</html>